/* Import normalize.css */
@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css');

/* Universal box sizing rule */
*, *::before, *::after {
    box-sizing: border-box;
}

/* Ensure effortless transitions when scrolling */
html {
    scroll-behavior: smooth;
    font-size: 62.5%; /* Set font size to 62.5% of its normal size */
}

/* Define custom properties in the root element */
:root {
    --color-primary: #d73953;
    --color-black: #090909;
    --color-white: #ffffff;
    --color-light-grey: #f3f3f3;
    --color-dark-grey: #353535;
    --text-color: var(--color-black);

    /* Custom font-family properties */
    --font-family-base: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    --font-family-title: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;

    /* Custom font-size properties */
    --font-size-small: 1.2rem;
    --font-size-medium: 1.6rem;
    --font-size-large: 1.8rem;
    --font-size-x-large: 2.3rem;
    --font-size-xx-large: 4.8rem;

    /* Custom font-weight properties */
    --font-weight-regular: 400;
    --font-weight-bold: 700;

    /* Custom line-height properties */
    --line-height-small: 1.2;
    --line-height-base: 1.5;
    --line-height-big: 1.8;

    /* Custom text-transform property */
    --section-tagline-transform: uppercase;

    /* Custom title properties */
    --section-title-margin: 0;
    --section-title-color: var(--color-black);
}

/* Set the font-family and font-size for the body */
body {
    font-family: var(--font-family-base);
    color: var(--text-color);
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-regular);
    line-height: var(--line-height-base); /* Set minimum height of line boxes */
}

/* Remove default underlining from anchor elements */
a {
    color: var(--text-color); /* Default text color */
    text-decoration: none; /* Remove underline by default */
}

/* Anchor element styles */
a:link {
    color: var(--text-color);
}

/* Styles for visited anchor links */
a:visited {
    font-style: italic; /* Italicize visited links */
}

/* Styles for hover state of anchor links */
a:hover {
    text-decoration: underline; /* Underline links on hover */
}

/* Styles for active state of anchor links */
a:active {
    background-color: var(--color-light-grey); /* Set background color on active state */
}

/* Set styles for section titles */
.section-title {
    font-family: var(--font-family-title);
    font-size: var(--font-size-xx-large);
    font-weight: var(--font-weight-bold);
    margin: var(--section-title-margin);
    color: var(--section-title-color);
}

/* Set styles for section tagline */
.section-tagline {
    color: var(--color-primary);
    font-family: var(--font-family-title);
    text-transform: var(--section-tagline-transform); /* Apply text transformation */
    font-weight: var(--font-weight-bold); /* Set font weight */
}

/* Set width and centering styles for container element */
.container {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}

/* Set the foreground color for all elements with the class card-category */
.card-category {
    color: var(--color-primary);
}

/* Set the font-family and font-weight for all heading tags (h1 to h6) */
h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-family-title);
    font-weight: var(--font-weight-bold);
}

/* Hide all elements with the class visually-hidden */
.visually-hidden {
    display: none;
}
